# Dependency directories
/node_modules

# Build output
/dist
/tmp
/out-tsc

# Logs and debugging
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.js.map

# Environment variables
.env
.env.prod
.env.dev
.env.local

# Compiled TypeScript
*.js

# Dependency lock files
package-lock.json
yarn.lock

# Editor-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Testing files
/e2e/*.json
/e2e/*.screenshot.png
/e2e/*.videos

# Angular CLI config
.angular-cli.json
.angular-cli.json.backup


# Miscellaneous
.DS_Store
Thumbs.db

# Firebase configuration files (if you're using Firebase)
/firebaseConfig.js
/firebaseConfig.ts

# Custom configuration files (if any)
# Add any other custom configuration files you need to ignore
